
*{
  margin: 0;
}

body{
  font-family: Century Gothic;
  color: #ffffff;
  font-size: 14px;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

h3{
  font-size: 25px;
  font-weight: 400;
}

h4{
  font-size: 14px;
  font-weight: 400;
}

